<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   msgData.plist
   TaxGeneralM

   Created by Apple on 2017/2/14.
   Copyright (c) 2017年 Yanzheng. All rights reserved.
-->
<plist version="1.0">
    <dict>
        <key>sysData</key>
        <array>
            <dict>
                <key>avatar</key>
                <string>msg_notification</string>
                <key>name</key>
                <string>通知公告</string>
                <key>message</key>
                <string>12366纳税服务平台，今日系统服务全面升级...</string>
                <key>date</key>
                <string>2017-02-14 15:13</string>
            </dict>
            <dict>
                <key>avatar</key>
                <string>msg_information</string>
                <key>name</key>
                <string>工作消息</string>
                <key>message</key>
                <string>西安市地方税务局会议通知，与2017-02-10日在市局4楼大会议室召开全体会议</string>
                <key>date</key>
                <string>2017-01-27 17:02</string>
            </dict>
        </array>
        <key>userData</key>
        <array>
            <dict>
                <key>avatar</key>
                <string>msg_head</string>
                <key>name</key>
                <string>市局领导</string>
                <key>message</key>
                <string>互联网+税务时代app即将上线，摆好姿势，准备迎接...</string>
                <key>date</key>
                <string>2017-02-14 16:50</string>
            </dict>
            <dict>
                <key>avatar</key>
                <string>msg_head</string>
                <key>name</key>
                <string>信息处</string>
                <key>message</key>
                <string>新版app有三个版本，管理端、客户端、自然人端</string>
                <key>date</key>
                <string>2017-02-13 13:27</string>
            </dict>
            <dict>
                <key>avatar</key>
                <string>msg_head</string>
                <key>name</key>
                <string>征管科</string>
                <key>message</key>
                <string>全新UI、全新体验、一触即发😘</string>
                <key>date</key>
                <string>2017-02-12 10:12</string>
            </dict>
            <dict>
                <key>avatar</key>
                <string>msg_head</string>
                <key>name</key>
                <string>评估科</string>
                <key>message</key>
                <string>界面风格美到没朋友，很好用、很互联网+</string>
                <key>date</key>
                <string>2017-02-10 09:36</string>
            </dict>
        </array>
    </dict>
</plist>
